#                                Basics
    print
    comments
    Literal constants
    variables

In [11]:
print("Hello World")

Hello World

### comments

In [12]:
# this is a comment 
# single line comment

In [13]:
'''
This is not multiline comments
there is a catch because it is not ignored
try to run this is multiline strings


'''

'\nThis is not multiline comments\nthere is a catch because it is not ignored\ntry to run this is multiline strings\n\n\n'

##     Literal constants


    numbers
        int 
        float
        complex
    Stirngs
        Single quote
        double quote
        triple quote
        Escape Sequence(\n.\t,\r)
        Explicit line joining

In [25]:
a=5
b=1.7
print(a)
print(b)

5
1.7

In [30]:
type(a)

int

In [31]:

type(b)

float

In [27]:
c=1+5j

In [28]:
print(c)
type(c)

(1+5j)

complex

## Strings

In [ ]:
a='a'
print(a)
b="b"
print(b)
c='''thios is single quote
multiline
string
check it'''
print(c)
d="""this 
is triple double quots"""
print(d)

## Arithmaric operators(+,-,*,**,/,//,%)

In [38]:
a=10
b=21
print(a+b)
print(a-b)
print(a*b)
print(a**b)#power of number
print(a/b)
print("%0.4f"%(a/b))
print(a//b)
print(b%a)#rem

31
-11
210
1000000000000000000000
0.47619047619047616
0.4762
0
1

In [39]:
a,b,c=10,20,30.34
print(a,b,c)

10 20 30.34

# if-else

In [44]:
a=17
if a<15:
    print(a)
    
elif a>20:
    print ("20")
else:
    print ("no")
print(a)

no
17

In [48]:
a=0
if a>0:
    print("+")
elif a<0:
    print("-")
else:
    print("0")

0

# Functions

In [49]:
a=5;
for i in range(a):
    print("Knock Knock Knock")

Knock Knock Knock
Knock Knock Knock
Knock Knock Knock
Knock Knock Knock
Knock Knock Knock

In [53]:
def knock():
    print("Knock Knock Knock")
    print("Knock Knock Knock")
    print("Knock Knock Knock")
    print("Knock Knock Knock")

In [54]:
knock()

Knock Knock Knock
Knock Knock Knock
Knock Knock Knock
Knock Knock Knock

In [55]:
def number (name):
    print("Knock Knock Knock {}".format(name))

In [56]:
number("ashutosh")

Knock Knock Knock ashutosh

In [57]:
def add(a,b):
    return a+b

In [59]:
print(add(5,2))

7

# String

In [60]:
a="Ashutosh"

In [62]:
print(a)

Ashutosh

In [63]:
print(a[0])

A

### ord and chr

In [66]:
ord('@')

64

In [67]:
ord('A')

65

In [69]:
chr(65)

'A'

In [70]:
chr(64)

'@'

In [72]:
a=1
b=2
c=3

In [73]:
print(str(a)+"-"+str(b)+"-"+str(c))

1-2-3

In [74]:
print("%d-%d-%d"%(a,b,c))

1-2-3

In [78]:
print("{}-{}-{}".format(a,b,c))

1-2-3

In [79]:
print("{2}-{0}-{1}".format(a,b,c))

3-1-2

In [80]:
a="Ashutosh"

In [81]:
type(a)

str

In [82]:
b="choudhary"

In [87]:
print("{firstname} {lastname}".format(firstname='Ashu',lastname=b))

Ashu choudhary

In [88]:
firstname="Ashutosh"
lastname="choudhary"

In [89]:
print(f"{firstname} {lastname}")

Ashutosh choudhary

In [90]:
var="            Ashutosh..        "

In [91]:
print(var.strip())

Ashutosh..

In [99]:
a=input()

11 2 3-4 5 5 5 7

In [100]:
print(a)

11 2 3-4 5 5 5 7

In [101]:
print(a.split("-"))

['11 2 3', '4 5 5 5 7']

In [103]:
a="Ashutush"

In [104]:
print(a)

Ashutush

In [105]:
a.replace('u','o')

'Ashotosh'

In [107]:
a.count('u')

2

# List


    list are
        ordered
        mutable
        accessec using index
        hetrogeneous

In [108]:
a=[1,2,3,4,5,6,7]

In [109]:
a

[1, 2, 3, 4, 5, 6, 7]

In [110]:
a[6]

7

In [111]:
a=["Ashutosh",2,3,4,5,6,7.7]

In [112]:
a

['Ashutosh', 2, 3, 4, 5, 6, 7.7]

In [113]:
a[5]=7.7

In [114]:
a

['Ashutosh', 2, 3, 4, 5, 7.7, 7.7]

In [115]:
len(a)

7

In [116]:
a+a

['Ashutosh', 2, 3, 4, 5, 7.7, 7.7, 'Ashutosh', 2, 3, 4, 5, 7.7, 7.7]

In [117]:
a

['Ashutosh', 2, 3, 4, 5, 7.7, 7.7]

In [118]:
a*5

['Ashutosh',
 2,
 3,
 4,
 5,
 7.7,
 7.7,
 'Ashutosh',
 2,
 3,
 4,
 5,
 7.7,
 7.7,
 'Ashutosh',
 2,
 3,
 4,
 5,
 7.7,
 7.7,
 'Ashutosh',
 2,
 3,
 4,
 5,
 7.7,
 7.7,
 'Ashutosh',
 2,
 3,
 4,
 5,
 7.7,
 7.7]

In [119]:
"Ashutosh" in a

True

In [120]:
for x in a:
    print(x)

Ashutosh
2
3
4
5
7.7
7.7

In [121]:
a[-1]

7.7

In [122]:
a[-7]

'Ashutosh'

In [123]:
a[7]

IndexError: list index out of range

In [124]:
a[1:5]

[2, 3, 4, 5]

In [125]:
a[0:5:2]

['Ashutosh', 3, 5]

In [126]:
a[::-1]

[7.7, 7.7, 5, 4, 3, 2, 'Ashutosh']

In [127]:
a="AbbA"

In [129]:
if a==a[::-1]:
    print("it is a palindrome")

it is a palindrome

In [130]:
a=[1,2,3,4,5,6,7,8,9,10]

In [133]:
a.insert(1,77)

In [134]:
a

[1, 77, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [135]:
a.append(77777)

In [136]:
a

[1, 77, 2, 3, 4, 5, 6, 7, 8, 9, 10, 77777]

In [137]:
a.pop()

77777

In [138]:
a

[1, 77, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [139]:
a.pop(2)

2

In [140]:
a

[1, 77, 3, 4, 5, 6, 7, 8, 9, 10]

In [141]:
a=["a","b","c","d"]

In [142]:
a.remove("a")

In [143]:
a

['b', 'c', 'd']

In [144]:
del a[1]

In [145]:
a

['b', 'd']

In [146]:
del a

In [147]:
a

NameError: name 'a' is not defined

In [156]:
a=[4,1,2,3,1,5]

In [158]:
sorted(a)

[1, 1, 2, 3, 4, 5]

In [159]:
a

[4, 1, 2, 3, 1, 5]

In [160]:
a.sort()

In [161]:

a

[1, 1, 2, 3, 4, 5]

In [162]:
for i in reversed(a):
    print (i)

5
4
3
2
1
1

In [163]:
a

[1, 1, 2, 3, 4, 5]

In [164]:
a.reverse()

In [165]:
a

[5, 4, 3, 2, 1, 1]

# Tuples
     immutable
     rest operations are same aa a list

In [166]:
a=[1,2,3,4,5,6,7,8,9]

In [167]:
id(a)

140048351152064

In [168]:
a[0]=7

In [170]:
a

[7, 2, 3, 4, 5, 6, 7, 8, 9]

In [169]:
id(a)

140048351152064

In [171]:
a=(1,2,3,4,5,6,7)

In [172]:
a

(1, 2, 3, 4, 5, 6, 7)

In [174]:
a[0]=1

TypeError: 'tuple' object does not support item assignment

In [175]:
def function(*args):
    print(args)

In [176]:
function(1,2,3,4,5)

(1, 2, 3, 4, 5)

In [178]:
a=1,2

In [179]:
type(a)

tuple

In [180]:
c,d=a

In [181]:
c

1

In [182]:
d

2

In [183]:
a=5
b=7

In [187]:
(b,a)=(a,b)# can also write this without brackets

In [188]:
b

7

In [186]:
a

7

In [189]:
a

5

In [190]:
a=(1,2,3,4,5,6,7)

In [191]:
a

(1, 2, 3, 4, 5, 6, 7)

In [203]:
a[1]

2

In [204]:
a[6]

7

In [195]:
a=list(a)# list takes iterable as input

In [194]:
a

[1, 2, 3, 4, 5, 6, 7]

In [196]:
a=tuple(a)

In [197]:
a

(1, 2, 3, 4, 5, 6, 7)

In [198]:
def addSubtract(a,b):
    return(a+b,a-b)

In [199]:
print(addSubtract(7,7))

(14, 0)

In [200]:
sum,diff=addSubtract(77,7)

In [201]:
sum

84

In [202]:
diff

70

# Dictionary

In [208]:
a={
    "name":"jatin",
    "marks":70,
    "subjects":[1,2,3,4,5,6,7],
    "roll":{"name":"Ashutosh",
           "roll":77}
}

In [209]:
a["roll"]

{'name': 'Ashutosh', 'roll': 77}

In [210]:
a["subjects"]

[1, 2, 3, 4, 5, 6, 7]

In [211]:
for i in a:
    print(i)

name
marks
subjects
roll

In [215]:
for i in a.items():
    print(i)

('name', 'jatin')
('marks', 70)
('subjects', [1, 2, 3, 4, 5, 6, 7])
('roll', {'name': 'Ashutosh', 'roll': 77})

In [216]:
for key,value in a.items():
    print(key,"=>",value)

name => jatin
marks => 70
subjects => [1, 2, 3, 4, 5, 6, 7]
roll => {'name': 'Ashutosh', 'roll': 77}

In [218]:
for i in a.keys():
    print(i)

name
marks
subjects
roll

In [219]:
for i in a.values():
    print(i)

jatin
70
[1, 2, 3, 4, 5, 6, 7]
{'name': 'Ashutosh', 'roll': 77}

In [220]:
a.get("name")

'jatin'

In [223]:
a.get("name1")# it will not throw error for wrong key a.["name1"] will

In [224]:
a["name1"]

KeyError: 'name1'

In [225]:
a.clear()

In [226]:
a

{}

In [227]:
students=[]

In [228]:
n=int(input())

2

In [230]:
for i in range(n):
    roll=int(input())
    name=input()
    branch=input()
    students.append({
        
        "roll":roll,
        "name":name,
        "branch":branch
        
        
        
    })

1
ashutosh
ece
2
ashu
cse

In [231]:
students

[{'roll': 1, 'name': 'ashutosh', 'branch': 'ece'},
 {'roll': 2, 'name': 'ashu', 'branch': 'cse'}]

## krys in dictionary can be any immutable Data structure e.g. String,tupple

In [232]:
a={
    (1,2):"because it is a tuple and is immutable"
}

In [233]:
a[(1,2)]

'because it is a tuple and is immutable'

In [234]:
a={
    [1,2]:"it will not work because it is mutable"
}

TypeError: unhashable type: 'list'

# set
    
    it is unordered
    
    no index e.g. a[i] will not work

    it consiste unique items

In [237]:
a={}#it it will be a dictionary

In [238]:
type(a)

dict

In [239]:
a=set()#this will create a empty set

In [240]:
type(a)

set

In [243]:
a={1,2,3,4,5,6,7}

In [244]:
type(a)

set

In [245]:
a

{1, 2, 3, 4, 5, 6, 7}

In [246]:
b={7,7,7,7,7,7}

In [247]:
a.intersection(b)

{7}

In [248]:
a.union(b)

{1, 2, 3, 4, 5, 6, 7}

In [249]:
a-b

{1, 2, 3, 4, 5, 6}

In [250]:
a[1]

TypeError: 'set' object is not subscriptable

In [251]:
for i in a:
    print(i)

1
2
3
4
5
6
7

In [253]:
b# onli one 7 because the elements should be unique

{7}

In [254]:
len(a)

7

In [255]:
len(b)

1

In [256]:
a=[1,2,1,2,2,1,2,1,2,2,2,1,1,1,2]# remove duplicate elements

In [257]:
list(set(a))# firet it will change to set to remove the duplicate sand then will change again to list

[1, 2]